<h1>タスク詳細画面</h1>
<p>タイトル: <%= @task.title %></p>
<p>内容: <%= @task.content %></p>
<p>期限: <%= @task.deadline %></p>
<p>ステータス: <%= @task.status %></p>
<p>優先順位: <%= @task.priority %></p>

<h2>ラベル一覧</h2>
<ul>
  <% @labels.each do |label| %>
    <li><%= label.title %></li>
  <% end %>
</ul>

<%= link_to '編集', edit_task_path(@task) %>
<%= link_to '削除', task_path(@task), method: :delete, data: { confirm: '本当に削除しますか？' } %>

<%= link_to '戻る', tasks_path %>